.images{
    height: 560px;
}

.home{
    margin-left: 800px;
}

.motivi{
    margin-top: -140px;
}
.mango{
    margin-top: -60px;
}

.footer{
    height: 100px;
}

.oeko{
    height: 200px;
}
.alliance{
    margin-top: -100px;
}
.confidence{
    margin-top: -100px;
}